.hotel-photo {
    max-width: 100%; 
    height: auto;
}

body {
    background-image: url('../assets/png/hotel.png');
    background-repeat: no-repeat; 
    background-size: cover; /* Растягивает изображение, чтобы заполнить весь фон */
    background-position: center;
    height: 100vh; /* Убедитесь, что body занимает всю высоту */
    margin: 0;
    padding: 0;
    background-color: rgba(20, 39, 74, 0.5);;
    font-family: Montserrat;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    padding-top: 5%;
    color: white;
}

.welcome h3 {
    font-weight: 400;
    font-size: 50px;
}

.welcome h1 {
    font-size: 96px;
    letter-spacing: 7%;
}

.welcome-button {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 5%;
    border: none; 
    background-color: transparent;
    cursor: pointer; 
}

.welcome-button img {
    max-width: 297px; 
    max-height: 118px; 
}

.welcome-learn-more {
    align-self: center;
    justify-self: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    letter-spacing: 5%;
    padding-top: 5%;
}

.welcome-down {
    display: flex;
    align-self: center;
    justify-self: center;
    border: none; 
    background-color: transparent;
    cursor: pointer; 
}

.welcome-down img {
    max-width: 60px; 
    max-height: 55px; 
    padding-top: 20%;
}
