body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.centered-container {
    display: flex;
    justify-content: center;
}

.welcome-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px; 
    justify-content: center;
    color: black;
    padding-top: 5%;
}

.welcome-adress, .welcome-tel {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px; 
}

.welcome-tel {
    column-gap: 30px;
}


.welcome-adress-a, .welcome-adress-b {
    grid-column: 1;
    grid-row: 1;
}

.welcome-adress-text, .welcome-adress-c, .welcome-adress-d {
    grid-column: 2;
}

.welcome-adress-c {
    grid-row: 1;
}

.welcome-adress-d {
    grid-row: 2;
}
